.recipes-back-btn {
  color: var(--pine-tree);
  margin-left: 50px;
}

.recipes-main-heading {
  text-align: center;
  margin-bottom: 10px;
  color: var(--pine-tree);
}

.recipes-main {
  margin-top: 100px;
}

.recipes-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.recipes-list-items {
  box-shadow: 0 0 5px 1px gray;
  background-color: #6b8e23;
  margin: 15px 30px;
  width: 323px;
  height: 275px;
  border-radius: 20px;
  transition: all .6s ease-in-out;
}

.recipes-list-items:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px 2px gray;
  color: var(--pine-tree);
}

.recipes-list-image {
  width: 324px;
  border-radius: 20px 20px 0 0 ;
}

.recipes-text {
  color: white;
  text-shadow: .5px .5px var(--pine-tree);
}

.recipes-text:hover {
  color: var(--pine-tree);
}
