.recipe-main {
  margin-top: 100px;
}

.recipe-back-btn {
  color: var(--pine-tree);
  margin-left: 50px;
}

.recipe-main-section {
  color: var(--pine-tree);
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  align-items: center;  
}

.recipe-main-heading {
  text-align: center;
  color: white;
}

.recipe-main-link {
  padding-top: 10px;
  color: white;
}

.recipe-main-link {
  color: var(--pine-tree);
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  align-items: center;  
}

.recipe-image {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px gray;
}

.recipe-summary {
  color: var(--pine-tree);
  width: 1000px;
  text-align: center;
  margin: 10px;
}
