.recipe-main {
  margin-top: 200px;
}

.recipe-back-btn {
  color: var(--pine-tree);
  margin-left: 50px;
}

.recipe-main-section {
  color: var(--pine-tree);
  display: flex;
  flex-direction: column;
  margin: 0 200px;
}

.recipe-main-heading {
  padding-bottom: 7px;
  text-align: center;
  color: var(--pine-tree);
}

.recipe-image {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px gray;
  margin-bottom: 10px;
  align-self: center;
}

.recipe-serving-size {
  margin-right: 48px;
}

.recipe-serving-size, .recipe-prep-time {
  align-self: end;
}

.recipe-ingredients-heading {
  padding-bottom: 5px;
}

.recipe-ingredient-list {
  padding-bottom: 10px;
}

.recipe-ingredient {
  display: flex;  
}

.recipe-ingredient-name {
  margin-left:  3px;
}

.recipe-ingredient-unit {
  margin-left:  3px;
}

.recipe-main-link {
  padding-top: 10px;
  color: var(--pine-tree);
  display: flex;
  flex-direction: column;
  align-items: center;  
}
