.home-section {
 text-align: center;
}

.home-main-image {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1461988320302-91bde64fc8e4");
}

.home-category-heading {
  margin: 25px 0;
}

.home-category-heading h1 {
  font-size: 32px;
  font-weight: bold;
}

.home-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-category-list-items {
  cursor: pointer;
  margin: 15px 20px;
  background-color: olivedrab;
  box-shadow: 0 0 5px 1px gray;
  transition: all .2s ease-in-out;
}

.home-category-list-items:hover {
  transform: scale(1.25);
}

.home-category-button {
  margin: auto;
  color: white;
  display: block;
  font-size: 18px;
  padding-bottom: 2%;
}

.home-category-button:hover {
  color: black;

}
