.nav-bar {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 30px 0 30px;
}

.logo {
  text-align: center;
}

.nav-menu {
  color: beige;
  display: flex;
  width: 25vw;
  justify-content: space-between;
  align-self: center;
}

nav a {
  color: white;
  text-decoration: none;
}
