.nav-search-form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: auto;
    border: white solid 2px;
    height: 35px;
    width: 300px;
  }
  
  .nav-search-form.color-change {
    background-color: rgba(0, 0, 0, 0.25);
    border: var(--pine-tree) solid 2px;
  }
  
  input {
    color: white;
    font-size: 14px;
    text-align: center;
    width: 300px;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
  
  ::placeholder {
    color: white;
  }
  
  .fa-search {
    border-radius: 0 20px 20px 0;
    border-left: white solid 2px;
    padding: 8.5px 12px;
    color: white;
    background-color: olivedrab;
  }
  
  .fa-search.color-change {
    border-left: var(--pine-tree) solid 2px;
  }
  
  .fa-search:active {
    transform: scale(0.99);
  }
  