footer {
    width: 100vw;
}

.footer-list {
    display: flex;
    color: white;
    padding: 4px 0 3px;
    justify-content: space-around;
    background-color: olivedrab;
}

footer a {
    color: white;
    text-shadow: 1px 1px var(--pine-tree);
    ;
}

footer i:hover, footer a:hover {
    color: var(--pine-tree);
    text-shadow: .5px .5px var(--pine-tree);
    ;
}
